$primary-color: hsl(196,100%,50%)
$secondary-color: hsl(196, 100%, 30%)
$tertiary-color: hsl(196, 100%, 10%)
$font: "Roboto",arial,sans-serif
$mobile-small: 320px
$mobile-medium: 375px
$mobile-large: 425px
$tablet: 768px
$laptop: 1024px
$laptop-large: 1440px

body
  margin: 0
  background-color: $tertiary-color

  .header
    width: 100%
    overflow: hidden
    background-color: $secondary-color

  .title
    text-align: center
    color: $primary-color
    font-family: $font
    font-size: 200%

  .container
    position: relative
    top: 100px

    .slide-container
      display: flex
      align-content: center
      justify-content: center
      -webkit-user-select: none  /* Chrome all / Safari all */
      -moz-user-select: none     /* Firefox all */
      -ms-user-select: none      /* IE 10+ */
      user-select: none          /* Likely future */

      .button
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        align-content: center
        justify-content: center

        p
          text-align: center
          border-style: solid
          border-width: thin
          border-radius: 5px
          border-color: $primary-color
          background-color: $secondary-color
          color: #fff
          width: 50px
          font-family: $font

      .button-next
        left: 50px
        order: 2

      .button-prev
        right: 50px
        order: 0

      .slide
        display: none
        order: 1

        img
          width: 500px
          height: 500px
          object-fit: cover
          border-radius: 15px