$primary-color: #9fe5ff
$secondary-color: #003447
$tertiary-color: #000d12
$font: "Roboto", arial, sans-serif
$font-size: 200%
$mobile-small: 320px
$mobile-medium: 375px
$mobile-large: 425px
$tablet: 768px
$laptop: 1024px
$laptop-large: 1440px

body
  margin: 0
  padding: 0
  background-color: $tertiary-color
  color: white

  header
    padding: 20px
    overflow: hidden
    background-color: $secondary-color
    display: flex
    flex-direction: row
    justify-content: space-between

    .navbar, .title
      text-align: center
      display: flex
      flex-direction: row
      align-items: center

      a
        color: $primary-color
        font-family: $font
        font-size: $font-size
        text-decoration: none
        font-weight: bolder
        cursor: pointer
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        transition: 0.3s

      a:hover
        color: #fff
        transition: 0.3s

    .navbar
      flex-grow: 2
      justify-content: space-evenly
      list-style-type: none
      padding: 0

      .navbar-item
        font-size: 75%


    .title
      flex-grow: 1
      justify-content: left

  .container
    position: relative
    top: 100px

    .slide-container
      display: flex
      justify-content: center
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none


      .button
        position: relative
        display: flex
        align-items: center

        p
          text-align: center
          border-radius: 25px
          background-color: $secondary-color
          color: $primary-color
          width: 100px
          font-family: $font
          font-size: 125%
          font-weight: bold
          cursor: pointer
          transition: 0.3s

        p:hover
          color: #fff
          transition: 0.3s

      .button-next
        left: 25px
        order: 2

      .button-prev
        right: 25px
        order: 0

      .slide
        display: none

        .slide-text
          text-align: center
          cursor: pointer
          font-family: $font
          background-color: $secondary-color
          width: 500px
          border-radius: 25px
          color: $primary-color

        .slide-text:hover
          color: white

        .slide-item
          p
            font-style: italic

          img
            width: 500px
            height: 500px
            object-fit: cover
            border-radius: 25px

  .about-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: white
    font-family: $font
    margin-left: 20rem
    margin-right: 20rem
    padding: 0
    text-decoration: none

    a
      color: white

    a:visited
      text-decoration: underline
    a:hover
      text-decoration: underline
    a:focus
      text-decoration: underline
    a:hover, a:active
      text-decoration: underline

  .clickable
    cursor: pointer
    text-decoration: underline
@media (max-width: $laptop)
  body
    header
      flex-direction: column

      .title, .navbar
        justify-content: center
        flex-direction: column
        flex-grow: 1

    .container
      .slide-container
        .button
          display: none

    .about-container
      padding-left: 5rem
      padding-right: 5rem
      margin: 0