:root {
  --primary-color: hsl(196,100%,50%);
  --secondary-color: hsl(196, 100%, 30%);
  --tertiary-color: hsl(196, 100%, 10%);
  background-color: var(--tertiary-color);
}

body {
  margin: 0;
}

header {
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.text {
  text-align: center;
  color: var(--primary-color);
  font-family: "Roboto",arial,sans-serif;
}
